
body{
	background: url(../image/bg/flower.jpeg) fixed;
	background-size: cover;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
}

h1{
	color: white;
	font-family: 'Poiret One', cursive;
	position: relative;
	margin:15% 25% 0 25%; 
	font-size: 100px;	
	font-weight: bolder;
}

.slides{
    display: none;
    
}
.container {
    padding-top: 30px;
    margin:0% 25% 0 27%;
    color: rgb(8, 81, 33);
    letter-spacing: 3px;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}
div{
    color: #7b897c;
    font-weight: bolder;
}



/*______NAV. BAR______________________________________*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}

.other{
    float: right;
}

a:hover{
    color: rgb(2, 112, 106);
}


